
/* Фон для всего тела документа */
body {
  background-color: #f7f6f6;
  color: #343a40; 
  font-family: Arial, sans-serif; 
}

/* Стили для навигационной панели */
.navbar{
  padding-bottom: 0;
  margin-bottom: 50px;
}
nav div{
  background-color: #c3d4e6; /* Основной цвет навигации */
}

.navbar-brand img {
  width: 75px; /* размер логотипа */
  height: auto; 
}

/* Стили для ссылок в навигации */
.nav-link {
  color: #bc0000; /* Цвет для текста ссылок */
}

.nav-link:hover {
  color: #f15353; /* Цвет при наведении */
}

/* Выпадающее меню */
.dropdown-menu {
  background-color: #c3d4e6;
  color:#bc0000;
}

/* Стили для кнопок */
.btn-outline-success {
  border-color: #28a745; 
  color: #2ba948; 
}

/* Кнопка поиска */
.btn-outline-success:hover {
  background-color: #28a745; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}

/* Стили для формы поиска */
.form-control {
  border-radius: 0; /* Убираем закругления */
}

.form-control:focus {
  box-shadow: none; /* Убираем тень при фокусе */
  border-color: #007bff; /* Цвет границы при фокусе */
}

/* Стили для пагинации */
.pagination {
  justify-content: center; /* Центрируем пагинацию */
}

.pagination .page-item .page-link {
  color: #007bff; /* Цвет текста */
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Цвет активной страницы */
  border-color: #004085; /* Цвет границы активной страницы */
}

.pagination .page-item .page-link:hover {
  background-color: #8ebff0; /* Цвет фона при наведении */
  color: #007bff; /* Цвет текста при наведении */
}

/* Кнопки */
.btn{
  background-color: #c1c1c1;
}

.btn:hover{
  background-color: #8c8c8c;
}

/* Заголовок слайда */
.slog{
  font-family:fantasy; /* шрифт */
  font-style: italic; /* курсив */
  color: #bc0000; /* цвет текста */
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }